
html {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #C96567;
  font-family: Baskerville;
  font-size: 1.1250em;
}


ul.menu {
  list-style-type: none;
  width: 100%;
  margin-top: 0;
  /*margin-left:10px;*/
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  font-family: Garamond, serif;
}

ul.menu li {
  float: left;
  width: 16.66666667%;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.8750em 1em;
  text-decoration: none;
}

ul.menu li a:hover {
  background-color: #97aabd;
  color: #644e5b;
}

ul.menu, .active {
  background-color: #314455;
  color: white;
}


a:link {
  color: #97aabd;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: #97aabd;
}

.main_content {
	width: 70%;
	margin:  0.5em auto;
  padding:  0.5em;
}
* {
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 0.5em;
}

th {
  background-color: #9e5a63;
  color: white;
}
.main_content a[href="#"] {
  text-decoration: underline;
  text-decoration-style: dashed;
}


#task, #submission, #grading {
  float:  left;
  width: 66%;
  border: 0.25em solid #644e5b;
  border-radius: 0.4375em;
  padding: 0.6250em;
  background-color: #644e5b;
  margin: 0.3125em;
}

#grading {
  margin-bottom: 0.5em;
}

#requirements {
  float: right;
  width: 30%;
  border: 0.25em solid #314455;
  border-radius: 0.4375em;
  padding: 0.6250em;
  background-color: #314455;
  margin: 0.3125em;
  font-size: 1em;
  padding-bottom: 20%;
}

aside {
  clear: both;
}
aside {
  width: 68%;
  margin:  0.3125em auto;
  padding:  0.6250em;
  border: 0.25em solid #9e5a63;
  border-radius: 0.4375em;
  background-color: #9e5a63;
}




.banner {
  text-align: center;
  color:  white;
  font-size: 2.4em ;
  font-family: monospace;
  background-image: url("banner.jpeg");
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: -3% -10% 0 -10%;
  vertical-align: middle;
  line-height: 45vh;
  transition: width 2s, height 2s;
}
/*img transition*/
.banner:hover {
  height: 54vh;
  font-size: 2.7em ;
  line-height: 54vh;
}


.topic {
  position: relative;
  margin-top: -9vh;
}

h1, h2, h3, h4, h5 {
  font-family: Optima;
  font-size: 1.5em;
  text-align: center;
}

h4 { background-color: #653A3F;}

h1 {text-align: left;}


#requirements > h2 {
  font-size: 1.4em;
  text-align: left;
}

.articles {
  background-color: #7E484F;
  padding: 1%;
}

img.taskim {
  height: auto;
  width: 100%;
  float: right;
  padding: 1%;
}


img.planetimg {
  height: 75%;
  width: 15.625em;
  float: right;
  padding: 1%;
  transition: width 2s, height 2s;
  margin: 1%;
}
 
/*img transition*/
img.planetimg:hover {
  height: 100%;
  width: 18.75em;
}


footer ul {
  list-style-type: none;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #314455;
  font-family: Optima;
  font-size: 0.8750em;
  margin: 0 -5% -1% -5%;
  padding: 0 5% 2% 5% ;
}

footer > div {
  width: 33%;
  text-align: center;
}

#requirements ul li::marker {
    content: '\2713';
  }

#requirements ul li {
  padding-left: 0.6250em;
}

#requirements ul {
  padding-left: 1em;
}


.email {
  color: #65A8B5;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto 12vh;

}

.logo {
  grid-area: 2 / 5 / 3 / 6;
  text-align: center;
  position: relative;
  text-align: right;
  vertical-align: middle;
  padding-right: 20%;
  animation-name: logoanim;
  animation-duration: 2s;
  animation-iteration-count: 3;
  margin: 0.7em;
}

img.logoim {
  width: 15%;
  height: auto;
}


/*img animation*/
@keyframes logoanim {
  0%   {right:0% ; }
  25%  {right:0% ; }
  50%  {right:20%; }
  75%  {right:0% ; }
  100% {right:0% ; }
}



.menu {
  grid-area: 1 / 1 / 2 / span 6;
}



/*phone*/
@media screen and (min-width: 300px) and (max-width: 767px) {


  ul.menu li{
    float: none;
    width:  100%;
  }

  .banner {
  font-size: 1.5em;
}

.banner:hover {
  font-size: 1.8em;
}
body {
  color: white;
  background-color: #C96567;
  font-family: Baskerville;
  font-size: 1.3em;
}
  ul.menu li{
    float: none;
    width:  100%;
  }
nav{
    margin-bottom: 10%;
}
.logo {
  text-align: center;
  grid-area: 2 / 2 / 3 / span 4;
  padding-right: 0;
}

@keyframes logoanim {
  0%   {right:0% ; }
  25%  {right:-10% ; }
  50%  {right:0%; }
  75%  {right:10% ; }
  100% {right:0% ; }
}


.main_content {
  width: 100%;
  padding: 0;
}


#task, #submission, #grading, #requirements{
    float: none;
    width:  100%;
    margin-left: 0;
    margin-right: 0;

}


img.taskim {
     padding-left:  0;
     padding-right: 0;
}

 
 img.planetimg {
  width: 100%;
  height: auto;
  float: none;
  padding: 1%;
  transition: width 2s, height 2s;
  margin: 0%;
}
 

/*img transition*/
img.planetimg:hover {
  width: 104%;
  height: auto;
  padding-right: 1em;
}

aside {
  width: 100%;
}

.topic {
  margin-top: -5vh;
  padding-bottom: 1%;
  font-size: 2em;
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  text-align: center;
  font-size: 0.9em;
}
h5 {font-size: 1.5em; }
.contacts {grid-area: 1 / 1 / 2 / 3;width: 100%; }
.categories {grid-area: 2 / 1 / 3 / 2;width: 100%}
.quick_links {grid-area: 2 / 2 / 3 / 3;width: 100%}

iframe {width: 80%; margin: 0;}


h1, h2, h3, h4 {
  text-align: center;
  font-size: 2.3em;
}

#requirements > h2 {
  font-size: 2.3em;
  text-align: center;
}


}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

.banner {
  font-size: 1.7em;
  margin: ;
}

.banner:hover {
  font-size: 2em;
}

body {
  color: white;
  background-color: #C96567;
  font-family: Baskerville;
  font-size: 1.2em;
}
nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#requirements > h2 {
  font-size: 1.2em;
  text-align: left;
}

.logo {
  text-align: right;
  grid-area: 2 / 3 / 3 / 5; 
  margin: 1%;
}
@keyframes logoanim {
  0%   {right:0% ; }
  25%  {right:0% ; }
  50%  {right:-10%; }
  75%  {right:0% ; }
  100% {right:0% ; }
}


.menu {
  grid-area: 1 / 1 / 2 / 5;
}
#task, #submission, #grading {
  float:  left;
  width: 67%;
  border: 0.25em solid #644e5b;
  border-radius: 0.4375em;
  padding: 0.6250em;
  background-color: #644e5b;
  margin: 0.2em;
}
#grading {
  margin-bottom: 0.7em;
}

#requirements {
  float: right;
  width: 28%;
  border: 0.25em solid #314455;
  border-radius: 0.4375em;
  padding: 0.6250em;
  background-color: #314455;
  margin: 0.3125em;
  font-size: 1em;
  padding-bottom: 15%;
}
img.taskim {
  max-width: 50%;
  height: 50%;
}
img.planetimg {
  flex: 100%;
  max-width: 100%;
}

/*img transition*/
img.planetimg:hover {
  height: 100%;
  width: 100%;
}

.main_content {
  width: 95%;
}

.topic {
  position: absolute;
  margin-top: -8vh;
  font-size: 1.8em;
}
aside {
  width: 93%;
}

footer {
  font-size: 0.9em;
}
iframe {width: 70%; margin: 0;}

h1,h2,h3,h4,h5 {
  font-size: 2em;
}
}



